.anchor {
	position: absolute ;
	user-select: none ;
	white-space: nowrap ;
  z-index: 3;
  height: 15px;
}


textarea:focus {
  outline: none;
}

textarea {
  border-style: none;
  border-color: Transparent;
  resize: none;
  overflow-x: hidden;
}
