.baseSpan {
  font-size: x-large;
  font-family: monospace;
}

.nextLetter {
  text-decoration: underline;
}

.incorrectLetter {
  background-color: red;
  color: white;
}

.correctLetter {
  color: gray;
}
